p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
}

.itemListContainer{
    color:black;
    display:flex;
    flex-direction:column;
}

.fa-spin{
    text-align:center;
    margin-top:25px;
    align-self: auto;
    flex-basis:0%;
    display: block
}
.itemcount{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stock{
    font-size: 50px;
}

#cantidad{
    font-size: 20px;
    text-align: center;
}

