.formu{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h5{
    text-align: center;
}

::placeholder{
color:blue
}

.warning-text {
    color: red;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.purchaseMsg{
    text-align: center;

}